@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-grey: #707070;
  --clr-bunker: #131921;
  --clr-ebony-clay: #232f3e;
  --clr-orange: #ff9900;
  --clr-orange-dark: #cc8111;
}

body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  max-width: 1200px;
  margin: 20px auto 0;

  font-size: 2.15em;
}

h2:not(.product__overview h2) {
  padding-left: 20px;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center; */

  background-color: var(--clr-bunker);
  align-items: center;
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.div__left {
  display: flex;
  align-items: flex-start;
  margin-left: 15px;
  float: none;
}

.nav__brand h1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--clr-white);
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding: 1px 8px 0px 6px;
  position: static;
  float: none;
  cursor: pointer;
}

.nav__brand h1:hover {
  border: solid 1px #ffff;
  transition: ease-in;
  padding: 15px 10px;
  position: static;
  float: none;
}

.nav__brand p {
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 12px;
  padding: 5px 0;
  margin-right: 15px;
  margin-left: 10px;
  color: var(--clr-white);
}

.nav__brand p:hover {
  border: solid 1px #ffff;
  transition: ease-in;
  padding: 15px 10px;
}

.nav__right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.nav__right p {
  cursor: pointer;
}
.nav__right p span {
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 600;
  line-height: 2px;
  padding: 5px 0;
  font-size: 16px;
}

.nav__right .cart {
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--clr-white);
}

.nav__brand img {
  max-width: 125px;
  height: auto;
}

.nav__links {
  background-color: var(--clr-ebony-clay);
  color: var(--clr-white);
  font-family: "Amazon Ember", Arial, sans-serif;
  /* grid-column: 1 / span 3; */
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style: none;
}

.nav__links li span {
  margin: 0 1px;
}

.nav__links li {
  margin: 0 15px;
  cursor: pointer;
}
.nav__links li:hover {
  border: solid 1px #ffff;
  transition: ease-in;
  padding: 5px 5px;
  /* padding: 15px 10px; */
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-white);
}

.nav__links-icon {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav__search {
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  min-width: 50%;
}

.custom-form {
  max-width: 50rem;
  margin: 0 auto;
}

.custom-flex {
  display: flex;
  align-items: center;
}

.custom-label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #333;
  display: none;
}

.custom-button {
  margin-left: 0.5rem;
  /* padding: 0.625rem 1rem; */
  /* font-size: 0.875rem; */
  font-weight: 500;
  color: #333;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  cursor: pointer;
}

.custom-dropdown {
  position: relative;
}

.custom-dropdown ul {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  display: none;
}

.custom-dropdown-button {
  display: block;
  width: 100%;
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  color: #333;
  background-color: #fff;
  border: none;
  text-align: left;
  cursor: pointer;
}

.custom-relative {
  position: relative;
  width: 100%;
}

.custom-input {
  width: calc(100% - 4rem);
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.custom-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 100%;
  padding: 0.625rem;
  background-color: var(--clr-orange-dark);
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
}

.custom-submit-svg {
  width: 1rem;
  height: 1rem;
  fill: none;
  stroke: #fff;
}

.nav__connect {
  width: 150px;
  height: 40px;
  margin: 0 auto;

  background-color: var(--clr-orange);
  border: none;
  border-radius: 4px;

  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  background-color: var(--clr-orange-dark);
}

.cards__section {
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 0 20px;
}

.cards__section h3 {
  font-size: 1.75em;
  margin: 20px 0;
}

.cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  margin-top: 20px;
}

.card {
  width: 300px;
  height: 400px;

  margin: 10px auto;

  cursor: pointer;
  position: relative;

  transition: all 250ms ease;
}

.card:hover {
  box-shadow: 0 0 5px var(--clr-grey);
}

.card__image {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card__image img {
  max-width: 100%;
}

.card__btn {
  background-color: var(--clr-orange);
  color: var(--clr-white);
  border: none;
  padding: 3px 5px;
  font-size: 16px;
  margin: 4px 0;
  font-weight: 600;
  font-family: "Amazon Ember", Arial, sans-serif;
  border-radius: 5px;
}

.card__btn:hover {
  background-color: var(--clr-orange-dark);
 
}

.card__info {
  width: 100%;

  background-color: var(--clr-white);

  padding: 5px 10px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.card__info h4 {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 400;
}

.card__info .rating {
  color: yellow;
  margin: 5px 0;
}

.card__info p {
  font-family: "Open Sans";
  font-size: 0.95em;
  font-weight: 600;
  margin-top: 5px;
}

/* ------------------------------------------------------ */
/* -- PRODUCT -- */

.product {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product__details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  align-items: center;

  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background: var(--clr-white);
}

.product__image {
  max-width: 500px;
  margin: 20px auto;
}

.product__image img {
  max-width: 100%;
}

.product__close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  background: transparent;
  border: none;

  cursor: pointer;
}

.product__close img {
  width: 25px;
  height: 25px;
}

.product__overview {
  height: 90%;
  padding: 20px 40px 20px 20px;
}

.product__overview h2,
.product__overview hr,
.product__overview .rating {
  margin: 10px auto;
}

.product__overview ul {
  margin-left: 40px;
}

.product__order {
  max-width: 300px;
  height: 90%;

  border: 1px solid var(--clr-grey);
  padding: 20px;
}

.product__order h1,
.product__order p {
  margin-bottom: 10px;
}

.product__buy {
  width: 225px;
  height: 40px;
  margin: 20px 0;

  background-color: var(--clr-orange);
  color: var(--clr-black);

  border: none;
  border-radius: 24px;

  font-family: "Open Sans";
  font-size: 0.95em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.product__buy:hover {
  background-color: var(--clr-orange-dark);
}

.product__bought {
  padding: 5px;
  border: 1px solid var(--clr-grey);
}

@media screen and (max-width: 992px) {
  .product__details {
    height: 95%;
    width: 90%;
  }

  .product__order {
    max-width: 100%;
    height: 100%;
    margin-top: 20px;
    grid-column: span 2;
  }
}

@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav__links {
    display: none;
  }

  .nav__search {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .product__details {
    height: 95%;
    overflow-y: scroll;
  }

  .product__image {
    grid-column: span 2;
  }
}
